body {
    background-color: darkgreen;
    text-align: center;
}

h1 {
    font-family: 'Holtwood One SC', serif;
    color: white;
    font-size: 60px;
}

p {
    color: rgb(0, 35, 0);
    font-family: 'Asap', sans-serif;
    font-size: 24px;
}

#action {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.dice-div {
    padding: 20px 30px;
    width: 200px;
}

.dice-img {
    height: 200px;
    padding: 10px 0 0 20px;
}